* {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1.25;
    border: 0;
    font-family: 'Noto Sans', Cantarell, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

html, body, #paideia-page-wrapper {
    width: 100%;
    height: auto;
}

#paideia-page-top {
    margin: 5px;
}

#paideia-page-body {
    padding: 10pt;
}

#paideia-page-body-wrapper, .paideia-section-body-wrapper {
    padding-left: 10pt;
    border-left: solid 1pt #000000;
}

.paideia-bold, .paideia-bold * {
    font-weight: bold;
}

.paideia-italic, .paideia-italic * {
    font-style: italic;
}

.paideia-unord-list, .paideia-ord-list {
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt;
    margin-right: 5pt;
}

.paideia-list-elem {
    line-height: 1.5;
}

.paideia-unord-list {
    list-style: disc;
}

.paideia-ord-list {
    list-style: decimal;
}

.paideia-table {
    border-collapse: collapse;
    border: 0;
    margin-bottom: 14pt;
}

.paideia-table-cell, .paideia-table-header {
    text-align: center;
    padding: 7pt;
    border: 1px solid black;
}

.paideia-table-header {
    font-weight: bold;
}

.paideia-title-link {
    font-weight: bold;
}

.paideia-section > .paideia-title {
    font-size: 110%;
    padding-top: 8pt;
    padding-bottom: 4pt;
}

.paideia-section-3 > .paideia-title {
    font-size: 115.5%;
    padding-top: 10pt;
    padding-bottom: 5pt;
}

.paideia-section-2 > .paideia-title {
    font-size: 122.5%;
    padding-top: 12pt;
    padding-bottom: 6pt;
}

.paideia-section-1 > .paideia-title {
    font-size: 140%;
    padding-top: 14pt;
    padding-bottom: 7pt;
}

.paideia-section-0 > .paideia-title {
    font-size: 175%;
    padding-top: 16pt;
    padding-bottom: 8pt;
}

#paideia-page-top > .paideia-title {
    font-size: 200%;
    padding-top: 20pt;
    padding-bottom: 10pt;
}


.paideia-link, .paideia-link * {
    color: #4493F7;
}

.paideia-link:hover {
    text-decoration: underline;
}

.paideia-link:visited, .paideia-link:visited * {
    color: #4C87D0;
}

.paideia-paragraph {
    text-indent: 14pt;
    text-align: justify;
    margin-bottom: 5pt;
    line-height: 1.25;
}

.paideia-paragraph:last-child {
    margin-bottom: 0;
}

.paideia-image {
    max-width: 500pt;
    max-height: 98vh;
    width: 100%;
    background-color: white;
}

.paideia-figure {
    background: #F7F7F7;
    padding: 5pt;
    border: 1pt solid #B0B0B0;
    display: inline-block;
}

.paideia-figure-legend {
    margin: 2pt;
}
